services:
  sio_test:
      user: app
      build:
          context: .
          args:
              USER_ID: ${USER_ID:-1000}
      ports:
          - "8337:8337"
      volumes:
          - .:/app:rw
      # environment:
      #     - APP_ENV=dev # overrides test environment so we do not need it here
  database:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: app
      POSTGRES_PASSWORD: password
      POSTGRES_USER: app
    ports:
      - "54320:5432"
    volumes:
      - ./mounts/postgresql-db:/var/lib/postgresql/data:rw
